.repository-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: fit-content;
}

.repository-list .repositories-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.repository-list input {
  width: 200px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 16px;
}

.repository-list li {
  background-color: var(--light);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 300ms;
  border: 1px solid var(--default);

}

.repository-list li:hover {
  background-color: #c4c4c4;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.78);
  -webkit-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.78);
  -moz-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.78);
  transform: translateY(-10px);
}


.repository-list ul{
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
  list-style: none;
  padding: 2rem;
  overflow-y: auto;
  border: 1px solid var(--default);
  border-radius: 1rem;
  margin: 1rem;
}

.repository-user{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.repository-user img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}